/* 
    Chalice: Anastasia, Andy, Jack, Jady
    SoftDev
    Oct 2024
*/
html {
    background-color: #ffffff;
    font-family: 'Courier New', monospace;
}

body {
    background-color: #ffffff;
    color: black;
    padding: 5%;
}

h1 {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    margin-bottom: 0;
}

.container {
    display: flex;
    margin-left: 20px;
    margin-right: 0;
}

nav {
    flex: 4;
    padding-bottom: 3%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #a1a1a1;
  }

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }

.container div {
    flex: 4;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #ffffff;
    color: #000000;
    text-align: right;
    padding: 10px;
}

.box1 {
    width:300px;
    padding: 10px;
    height: 100px;
    color:#000;
}

.stainer {
    display: flex;
    justify-content: left; 
    margin-top: 20px; 
    margin-left: 50px;
}

.stain {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 500px;
}

.sbox {
    border: 2px solid #000;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
}

.sdet {
    display: flex;
    flex-direction: column;
}

.stitle {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.sau {
    font-size: 14px;
    color: #666;
}

.edit {
    font-family: 'Courier New', monospace;
    padding: 5px 10px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button {
    font-family: 'Courier New', monospace;
    padding: 5px 10px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

hr {
    max-width: 70%;
}