<!DOCTYPE html>
<!-- 
  Chalice: Anastasia, Andy, Jack, Jady
  SoftDev
  Oct 2024
 -->

<html>

  <head>
    <title> Chalice of Overflowing Stories </title>
  </head>

  <body>
    <h1>Create a story</h1>
    <h2>Chalice: Anastasia, Andy, Jack, Jady</h2>
    <form action="/creator" method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">
        <br><br>
        <label for="first">First sentence:</label>
        <input style="width: 300px;" type="text" id="first" name="first">
        <br><br>
        <input type="submit" name="sub1" value="Create!">
        {% if message %}
          <br><br>
          {{message}}
        {% endif %}
    </form>
    <br><br>
    <form action="/logout" method="POST">
      <input type="submit" name="sub1" value="Log out">
    </form>

  </body>

</html>
