<!DOCTYPE html>
<!-- 
  Chalice: Anastasia, Andy, Jack, Jady
  SoftDev
  Oct 2024
 -->

<html>

  <head>
    <title> HOME PAGE </title>
  </head>

  <body>
    <h1>
      Chalice of Overflowing Stories
    </h1>
    <h2>Chalice: Anastasia, Andy, Jack, Jady</h2>
    <form action="/login" method="POST">
      <input type="submit" name="sub1" value="Sign in">
    </form>

    <form action="/register" method="POST">
      <input type="submit" name="sub1" value="Register">
    </form>

  </body>

</html>
