<!DOCTYPE html>
<!--
    Chalice: Anastasia, Andy, Jack, Jady
    SoftDev
    Oct 2024
-->

<html>

    <head>
        <link href="static/style.css" rel="stylesheet" />
        <title> Chalice of Overflowing Stories </title>

    </head>

    <body>

        <header>
            <h1> Chalice of Overflowing Stories </h1>
        </header>

        <main class="container">
            <nav>
                <br>
                <ul>
                    <li> <a href="http://127.0.0.1:5000/">Home</a> </li>
                    <li style="float:right"> <a href="http://127.0.0.1:5000/login">Log in</a> </li>
                    <li style="float:right"><a class="active" href="http://127.0.0.1:5000/register">Register</a> </li>
                </ul>

            </nav>
        </main>

        <main class="container">
            <div>
                <h2> Please log in below. </h2>
            </div>
        </main>

        <main class="container">
            <div>
            <form action="/loginauth" method="POST">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username">
                <br><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
                <br><br>
                <input type="submit" name="sub1" value="Log in">
                {% if message %}
                  <br><br>
                  {{message}}
                {% endif %}
              </form>
            </div>
        </main>

        <footer>
            Copyright © 2024 Chalice
        </footer>

    </body>

</html>