<!DOCTYPE html>
<!-- 
  Chalice: Anastasia, Andy, Jack, Jady
  SoftDev
  Oct 2024
 -->


<html>

  <head>
    <title> REGISTRATION PAGE </title>
  </head>

  <body>
    <h1>
      Howdy, friends!
    </h1>
    <h2>Chalice: Anastasia, Andy, Jack, Jady</h2>

    <form action="/register" method="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username">
      <br><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
      <br><br>
      <input type="submit" name="sub1" value="Register">
    </form>
    {% if message %}
      <br><br>
      {{message}}
    {% endif %}
  </body>

</html>
